.w {
	width: 1200px;
	margin: 0 auto;
}
.logo {
	height: 82px;
	border-bottom: 2px solid #b1191a;
}
.logo img {
	margin-top: 20px;
}
.registerarea {
	height: 520px;
	margin-top: 20px;
	border: 1px solid #ccc;
}
.registerarea h3 {
	height: 40px;
	border-bottom: 1px solid #ccc;
	font-size: 18px;
	font-weight: 400;
	line-height: 40px;
	padding: 0 10px;
	background-color: #ececec;
}
.registerarea h3 em {
	float: right;
	font-size: 14px;
}
.registerarea a {
	color: #c81623;
}
.reg_form {
	width: 600px;
	height: 400px;
	margin: 40px auto 0;
}
.reg_form li {
	margin-bottom: 15px;
}
.reg_form label {
	display: inline-block;
	width: 100px;
	height: 36px;
	line-height: 36px;
	text-align: right;
}
.reg_form input {
	width: 238px;
	height: 34px;
	margin-left: 10px;
	border: 1px solid #ccc;
}
.error {
	margin-left: 15px;
	color: #df3033;
}
.error_ico ,
.success_ico {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/error.png) no-repeat;
	vertical-align: middle;
}
.success {
	margin-left: 15px;
	color: green;
}
.success_ico {
	background: url(../img/success.png) no-repeat;
}
.safe {
	padding-left: 187px;
	color: #b3b3b3;
}
.safe i {
	color: #fff;
	padding: 0 12px;
}
.ruo {
	background-color: #de1111;
}
.zhong {
	background-color: #40b83f;
}
.qiang {
	background-color: #f79100;
}
.xieyi {
	padding-top: 20px;
	color: #4d4d4d;
	padding-left: 110px;
}
.xieyi a {
	color: #1ba1e6;
}
.xieyi input {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.reg_form .over {
	width: 200px;
	height: 34px;
	color: #fff;
	font-size: 14px;
	background-color: #c81623;
	margin: 30px 0 0 130px;
	border: none;
}
.footer {
	margin-top: 20px;
	text-align: center;
}
.links {
	height: 28px;
}
.links a {
	
	margin: 0 10px;
}
.footer p {
	height: 24px;
}